*{
    padding:0;
    margin:0;
}
.sec1{
    min-height:100vh;
    width:100%;
    background: radial-gradient(rgb(8, 8, 8),rgb(50, 52, 54));
}
.container{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container h1{
    font-family: 'Monoton', cursive;
    color: white;
    text-align: center;
    font-size: 70px;
}
.form{
    margin-top: 40px;
}
.form h2{
    color: rgb(143, 199, 234);
    font-family: 'Black Ops One', cursive;
    font-weight: 200;
    font-size: 33px;
}
.form input[type="text"]{
    background: rgb(45, 66, 70);
    border: transparent;
    color: rgb(253, 253, 253);
    display: block;
    margin: 20px;
    height: 30px;
    width:140px;
    padding: 9px 12px;
    text-align: center;
    font-size: 24px;
    border-radius: 25px;
    font-family:'Black Ops One', cursive ;
    transition: width 0.25s linear;
}
.form input[type="text"]:focus{
    width:230px ;
    border: 2px solid rgb(87, 184, 244);
}
.form input[type="submit"]{
    display: block;
    color: cyan;
    background: rgb(65, 57, 57);
    width:150px;
    height:60px;
    font-size: 20px;
    border-radius: 25px;
    padding:10px 15px;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    
    
}
.form input[type="submit"]:hover{
    background-color: rgb(85, 65, 65);
}

